<!-- Google Fonts for Chinese characters -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">

<style>
  /* 简单的字体样式 */
  .chinese-font {
    font-family: 'Zhi Mang Xing', cursive !important;
  }
</style>

<script>
  if (window.location.hostname === "shuai-zhou.com") {
    window.location.href = "https://www.shuai-zhou.com" + window.location.pathname + window.location.search + window.location.hash;
  }
</script>
